absl-py==0.10.0
appnope==0.1.0
astunparse==1.6.3
attrs==20.1.0
beautifulsoup4==4.6.0
bleach==3.1.5
branca==0.4.1
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
files==1.1.1
Flask==1.1.2
Flask-Admin==1.5.6
Flask-Dropzone==1.5.4
flask-paginate==0.7.0
Flask-SQLAlchemy==2.4.4
folium==0.11.0
gast==0.3.3
google==3.0.0
google-auth==1.21.0
google-auth-oauthlib==0.4.1
google-cloud==0.34.0
google-pasta==0.2.0
grpcio==1.31.0
h5py==2.10.0
hgtk==0.1.3
idna==2.10
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
JPype1==1.0.2
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
konlpy==0.5.2
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
nltk==3.5
notebook==5.2.2
numpy==1.18.5
oauthlib==3.1.0
opencv-python==4.4.0.42
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==1.0.18
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.4.1
simplegeneric==0.8.1
six==1.12.0
soynlp==0.0.493
SQLAlchemy==1.3.19
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tornado==4.5.3
tqdm==4.48.2
traitlets==4.3.3
tweepy==3.9.0
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wordcloud==1.8.0
wrapt==1.12.1
WTForms==2.3.3
