<!DOCTYPE HTML>

<html lang="ko">
	<head>
		<title>손민정음 - 센터 정보</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<style type="text/css">

			a:hover {
				text-decoration: underline;
			}

			caption {
				display: none;
			}

			table {
				border-collapse: collapse;
				border-top: 2px solid #8d8d8d;
			}

			tbody tr td {
				padding: 3px;
			}
			td.center { /*article 클래스가 적용된 열만 좌측 정렬*/
				text-align: center;
			}

    	</style>
	</head>
	<body class="subpage">

		{% include 'nav.html' %}

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">

							<header class="align-center">
								<h1>센터 정보</h1>
								<p>전국 농아인 협회의 공지사항과 위치를 확인하세요.</p>
							</header>

							<!-- Elements -->
								<div class="row 200%">
									<div class="8u 12u$(medium)">

										<!-- Table -->
											<h3 style="margin-bottom: 20px;">공지사항</h3>
											<table>
												<colgroup>
													<col width="10%"/>
													<col width="*"/>  <!--나머지 크기-->
													<col width="20%"/>
												</colgroup>

												<!--테이블 머리말 부분-->
												<thead>
												<tr>
													<th scope="번호">번호</th>
													<th scope="제목">제목</th>
													<th scope="등록일">등록일</th>
												</tr>
												</thead>

												<!--테이블 내용 부분-->
												<tbody>
													{% for user in users %}
													<tr>
														<td class="center">{{ loop.index + (page -1) * per_page }}</td>
														<td><a href="{{ user.url }}" target="_blank">{{ user.title }}</a></td>
														<td class="center">{{ user.date }}</td>
													</tr>
													{% endfor %}
												</tbody>
											</table>
											<div class="pagedlist">{{ pagination.links }}</div>
									</div>


									<div class="4u$ 12u$(medium)">
										<h3 style="margin-bottom: 10px;">센터 지도</h3>
										<div>
											<iframe src="http://127.0.0.1:5000/map" width="350px" height="400px"></iframe>
										</div>
									</div>
								</div>

						</div>
					</section>
				</div>

		<!-- Scripts -->
			{% include 'script.html' %}

	</body>
</html>