<!DOCTYPE HTML>

<html>
    <head>
        <title>손민정음 - 수어 사전</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../static/assets/css/main.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <style>

            div .pagedlist {
                display: table;
                margin-left: auto;
                margin-right: auto;
            }

        </style>
    </head>
    <body class="subpage">

        {% include 'nav.html' %}

        <!-- Main -->
        <div id="main">

            <!-- Section -->
            <section class="wrapper">
                <div class="inner">

                    <div class="row 200%">
                        <div class="2u 12u$(medium)">
                            <div class="row">
                            <!-- 버튼 누르면 해당 카테고리 보여줄 수 있는 form -->
                            <form action="/dictionary" method="POST" autocomplete="off">
                                <div class="col-lg-2">
                                    <div class="list-group" role="tablist" style="position: absolute;">
                                        <input type="submit" value="법률" name="category">
                                        <input type="submit" value="교통" name="category">
                                        <input type="submit" value="의학" name="category">
                                        <input type="submit" value="정보통신" name="category">
                                        <input type="submit" value="불교" name="category">
                                        <input type="submit" value="천주교" name="category">
                                        <input type="submit" value="기독교" name="category">
                                        <input type="submit" value="국어 교과 용어" name="category">
                                        <input type="submit" value="경제" name="category">
                                        <input type="submit" value="정치" name="category">
                                    </div>
                                </div>
                            </form>
                            <!-- 버튼 누르면 해당 카테고리 보여줄 수 있는 form -->
                            </div>
                        </div>

                        <div class="10u 12u$(medium)">
                            <header class="align-center">
                                <h1>수어 사전</h1>
                                <p></p>
                                <p>동영상을 재생해 보세요</p>
                            </header>

                            <form action="/dictionary" method="POST" autocomplete="off" class="form-inline" style="float:right;">
                                <input class="form-control mr-sm-2" type="search" placeholder="검색어를 입력하세요" name="search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색하기</button>
                            </form>

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <colgroup>
                                        <col width="10%"/>
                                        <col width="*"/>  <!--나머지 크기-->
                                        <col width="15%"/>
                                        <col width="50%"/>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>번 호</th>
                                        <th>영 상</th>
                                        <th>의 미</th>
                                        <th> 뜻 </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 동영상 Pagination 보여주기 -->
                                    {% for video in videos %}
                                            <tr>
                                                <td class="firstT">{{ loop.index + (page - 1) * per_page }}</td>
                                                <td class="secondT">
                                                    <video width="250" height="150" src="{{ video.src }}" alt="" title="" controlslist="nodownload" controls
                                                    />
                                                </td>
                                                <td class="firstT" style="text-align: center;">{{ video.word }}</td>
                                                <td class="secondT">{{ video.mean }}</td>
                                            </tr>
                                    {% endfor %}
                                    <!-- 동영상 Pagination 보여주기 -->
                                    </tbody>
                                </table>
                                <div class="pagedlist" style="margin-left: 20%;">{{ pagination.links }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

		<!-- Scripts -->
			{% include 'script.html' %}

    </body>
</html>