<!DOCTYPE HTML>

<html>
	<head>
		<title>손민정음</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body>
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/"><img src="static/images/son.png"/></a></div>
				<a href="#menu">Menu</a>
			</header>

			<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">시작화면</a></li>
					<li><a href="/translation">번역</a></li>
					<li><a href="/dictionary">사전</a></li>
					<li><a href="/center_info">센터정보 (지도/정보)</a></li>
					<li><a href="/intro">소개글</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>손 민 정 음</h1>
						<p>우리는 수어로 더 쉽게 소통하는 세상을 꿈꿉니다.</p>
					</header>
					<a href="/translation" class="button big scrolly">번역</a>
                    &nbsp; &nbsp;
                    <a href="/dictionary" class="button big scrolly">사전</a>
					<div class="today">
						<a href="#main" class="scrolly">오늘의 수어 알아보기
						<br>
						▼</a>
					</div>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
						<div class="inner" style="margin-top: 5%; margin-bottom: 5%;">
							<header class="align-center">
								<h2>오늘의 수어</h2>
								<p>오늘의 수어가 쌓여 당신의 수어가 됩니다.</p>
							</header>
                            <div class="gallery">
                                 <div class="flex flex-3">
									 {% for i in range(3) %}
                                        <div class="col align-center">
                                            <div>
                                                <video width="250" height="150" src="{{ list[i].src }}" alt="" title="" controlslist="nodownload" controls autoplay
                                                       loop/>
                                            </div>
                                            <h5>{{ list[i].category }} : {{ list[i].word }}</h5>
											<button href="/translation">자세히 알아보기</button>
                                        </div>
									 {% endfor %}

								 </div>
							</div>
						</div>
					</section>


			</div>

		<!-- Scripts -->
			{% include 'script.html' %}

	</body>
</html>