<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>소개</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=320, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<link rel="stylesheet" href="../static/assets/css/video.css" />


	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/"><img src="static/images/son.png"/></a></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="/">시작화면</a></li>
                    <li><a href="/translation">번역</a></li>
                    <li><a href="/dictionary">사전</a></li>
                    <li><a href="/center_info">센터정보 (지도/정보)</a></li>
                    <li><a href="/intro">소개글</a></li>
                </ul>
            </nav>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h1>프로젝트 소개</h1>
								<p>모두가 불편함 없이 의사소통을 할 수 있는 날을 바라며</p>
							</header>
							<div class="flex flex-2">
								<div class="col col2">
									<h3 style="text-align:center;">< 손민정음 > 이란?</h3>
									<p>
										저희 프로젝트는 수어를 인식하고, 수어가 의미하는 문장을 출력해주는 번역 시스템입니다.
									</p>
									<p>
										농인들이 사용하는 수어는 일반인들이 사용하는 언어체계와 다릅니다. 수어에서는 조사와 시제, 명사와 동사의 구분이 없습니다.
										예를 들어, "나는 너를 좋아해" 라는 문장을 수어로는 "나", "너", "좋다"라고 표현합니다.
									</p>
									<p>
										이러한 언어 구조상의 다름으로 인해 농인들은 한글을 알더라도 문장의 의미를 정확하게 파악히지 못해 의사소통에 어려움을 겪고 있으며, 이로인해 생활 전반적인 영역에서 고충을 겪고 있습니다.
										여기에 비대면 서비스가 빠르게 확산되고 있는 요즘, 농인분들께 도움을 드리고자 프로젝트를 진행하게 되었습니다.
									</p>
									<p>
										수어(손의 언어)의 의미를 포함 할 수 있는 이름을 생각하던 중, 사람들에게 한글을 가르쳐 주었던 "훈민정음"에서 착안하여 프로젝트 이름을 "손민정음"이라고 만들게 되었습니다.
									</p>
									<p>
										** [농인]이란? : 청각장애인을 달리 이르는 말로서 수어를 일상어로 사용하는 사람을 말합니다.<br>
										** [수어]란? : "한국수화언어법"에 따르면 [한국수어]는 "한국수화언어"를 줄인 말로, 한국어나 영어와 같은 독립된 언어라는 의미를 담고 있습니다. [한국수어]는 한국어와는 문법 체계가 다른, 대한민국 농인의 고유한 언어입니다.
									</p>

								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="/" class="link"><img src="../static/images/son.png" alt="" /></a>
									</div>
								</div>
							</div>
							<p></p>
							<p></p>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>프로젝트 관련 영상 소개</h2>
							</header>

						   <table width="device-width">
							   <tr valign="top">
								   <td align="middle">
									   <p align="middle">
										   <video src="static/introduce_video/introduce_video.mp4" controls controlslist="nodownload" muted playsinline autoplay/>
									   </p>
									   <p align="middle">
										   <a href="https://www.youtube.com/watch?v=BjOPmIcC_fo" style="align:center;" target="_blank">출처 : 국립국어원 Youtube</a>
									   </p>
								   </td>
								   </td>
							   </tr>
						   </table>
						</div>
					</section>



				<!-- Third Section -->
					<section class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h2>사회문제 Word Cloud</h2>
								<p>키워드를 통해 Word Cloud를 보여드립니다</p>
							</header>
							<div class="flex flex-2">
								<div class="col col2">
									<h3></h3>
									<p></p>
									<p></p>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="images/pic02.jpg" alt="" /></a>
									</div>
								</div>
							</div>
							<p></p>
							<p></p>
						</div>
					</section>


			</div>



		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://github.com/zordiac8270" class="icon fa-twitter" target="_blank"><span class="label">박병근</span></a></li>
						<li><a href="https://github.com/YUSEONGMIN" class="icon fa-facebook" target="_blank"><span class="label">유성민</span></a></li>
						<li><a href="https://github.com/yeji0808" class="icon fa-instagram" target="_blank"><span class="label">이예지</span></a></li>
						<li><a href="https://github.com/hhseok960" class="icon fa-snapchat" target="_blank"><span class="label">황효석</span></a></li>
					</ul>
                    <ul class="icons">
						<li><a href="http://sldict.korean.go.kr/front/main/main.do" class="icon" target="_blank"><span class="label">국립국어원 - 한국수어사전</span></a></li>
						<li><a href="http://www.deafkorea.com/ver/" class="icon" target="_blank"><span class="label">한국농아인협회</span></a></li>
					</ul>
					<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>