<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
    <h2>번역</h2>
    <p>수어와 글을 번역하는 창입니다.</p>
</div>

<div class="w3-bar w3-white">
    <button class="w3-bar-item w3-button" onclick="openCity('London')">수어번역</button>
    <button class="w3-bar-item w3-button" onclick="openCity('Paris')">글번역</button>
</div>

<div id="London" class="w3-container city">
    <p>영상을 입력하세요.</p>
    <style media="screen">
        .flex_box {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .left {
            text-align: center;
            margin-right: 50px;
        }

        .right {
            text-align: center;
            margin-left: 50px;
        }
    </style>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <meta charset="utf-8">
        <title>번역기</title>
        <link rel="stylesheet" href="../static/assets/css/main.css"/>

    </head>
    <body>
    <form id="accel_form">
        <div class="flex_box">
            <div class="left">
                <div>
                    번역할 언어
                </div>
                <div>
                    <textarea name="trans_text" rows="8" cols="80"></textarea>
                </div>
                <div>
                    <button type="button" name="button" onClick="trans()">번역하기</button>
                </div>
            </div>
            <div class="right">
                <div class="">
                    번역된 언어
                </div>
                <div>
                    <textarea rows="8" cols="80" id="result_string" readonly></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="Paris" class="w3-container city" style="display:none">
    <p>글을 입력하세요.</p>

    <style media="screen">
        .flex_box {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .left {
            text-align: center;
            margin-right: 50px;
        }

        .right {
            text-align: center;
            margin-left: 50px;
        }
    </style>
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <meta charset="utf-8">
        <title>번역기</title>
        <link rel="stylesheet" href="../static/assets/css/main.css"/>

    </head>
    <body>
    <form id="accel_form">
        <div class="flex_box">
            <div class="left">
                <div>
                    번역할 언어
                </div>
                <div>
                    <textarea name="trans_text" rows="8" cols="80"></textarea>
                </div>
                <div>
                    <button type="button" name="button" onClick="trans()">번역하기</button>
                </div>
            </div>
            <div class="right">
                <div class="">
                    번역된 언어
                </div>
                <div>
                    <textarea rows="8" cols="80" id="result_string" readonly></textarea>
                </div>
            </div>
        </div>
    </form>

</div>


<script>
    function openCity(cityName) {
        var i;
        var x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(cityName).style.display = "block";
    }
</script>

</body>
</html>


<!--&lt;!&ndash;<button type="button" onclick="trans()">번역하기</button>&ndash;&gt;-->
<!--&lt;!&ndash;// 버튼 태그에 onclick="trans()" 를 추가함으로써 클릭시&ndash;&gt;-->
<!--&lt;!&ndash;trans() 함수가 호출될수 있도록 추가 한다&ndash;&gt;-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;    function trans() {&ndash;&gt;-->
<!--&lt;!&ndash;        const data = $("#accel_form").serialize(); //&ndash;&gt;-->
<!--&lt;!&ndash;        $.ajax({&ndash;&gt;-->
<!--&lt;!&ndash;            type: "POST", //전송방식&ndash;&gt;-->
<!--&lt;!&ndash;            url: "ajax_test.php", //호출 URL&ndash;&gt;-->
<!--&lt;!&ndash;            data: data, //넘겨줄 데이터&ndash;&gt;-->
<!--&lt;!&ndash;            success: function (args) {&ndash;&gt;-->
<!--&lt;!&ndash;                $("#result_string").html(args); //통신에 성공했을시 실행되는 함수&ndash;&gt;-->
<!--&lt;!&ndash;            },&ndash;&gt;-->
<!--&lt;!&ndash;            error: function (e) {&ndash;&gt;-->
<!--&lt;!&ndash;                alert(e.responseText); //통신에 실패했을시 실행되는 함수&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        });&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->

